.aside {
  &__item {
    margin-bottom: 30px;
    border: 2px solid #eaeaea;
    padding: 10px;
  }

  &__header {
    font-size: 16px;
    color: #fff;
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
    background: $wood;
    padding-left: 12px;
    background: #eaeaea;
    color: #2a2a2a;
    font-weight: 600;
    margin: -10px -10px 25px -10px;
    padding: 10px 20px;

    @include atMobile{
      margin-bottom: 15px;
    };
  }

  &__list {
    margin: -10px 0;

    @include atMobile{
      margin: -5px -10px;
      display: flex;
      flex-wrap: wrap;
    };
  }

  &__li {
    margin: 10px 0;
    padding-left: 12px;

    &:last-child {
      .aside__link {
        border-bottom: none;
      }
    }

    @include atMobile{
      margin: 5px 10px;
    };
  }

  &__link {
    width: auto;
    position: relative;
    padding-bottom: 5px;
    display: flex;
    align-items: center;

    padding-bottom: 12px;
    border-bottom: 1px solid #d7d7d7;

    @include atDesktop{
      &:hover {
        color: $green;
      }
    };

    @include atMobile{
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}
