.catalog {
  margin-bottom: 30px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -20px -10px;

    @include atMobile{
      display: block;
      margin: -20px 0;
    };
  }

  &__li {
    width: calc(100% / 4);
    padding: 20px 10px;
    border: 2px solid transparent;
    transition: border .3s;
    text-align: center;

    &:hover {
        border-color: #eaeaea;
    }

    @include atMobile{
      width: 100%;
      padding: 20px 0;
    };
  }

  &__link {
    @include atDesktop{
      &:hover {
        .catalog {
          &__title {
            color: $green;
          }
        }
      }
    };

    @include atMobile{
      text-align: center;
    };
  }

  &__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @include atDesktop{
      height: 149px;
    };

    img {
      max-width: 100%;
      height: auto;
    }

    @include atMobile{
      margin-bottom: 10px;
    };
  }

  &__title {
    font-size: 18px;
    color: $blue;

    transition: color .3s;
  }

  &__price {
    font-size: 16px;
    color: #000;

    span {
      font-weight: 600;
    }
  }
}
