.catalog {
  margin-bottom: 80px;

  @include atMobile{
    margin-bottom: 40px;
  };

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include atMobile{
      justify-content: center;
    };
  }

  &__li {
    width: calc(100% / 4);
    padding: 20px 10px;
    border: 2px solid transparent;
    transition: border .3s;
    text-align: center;

    @include atDesktop {
      &:hover {
          border-color: #eaeaea;
      }
    }

    @include atVertical{
      width: 240px;
    }

    @include atMobile{
      width: 240px;
    };
  }

  &__link {
    @include atDesktop{
      &:hover {
        .catalog {
          &__title {
            color: $blueDark;
          }
        }
      }
    };

    @include atMobile{
      text-align: center;
    };
  }

  &__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @include atDesktop{
      height: 149px;
    };

    img {
      max-width: 100%;
      height: auto;
    }

    @include atMobile{
      margin-bottom: 10px;
    };
  }

  &__title {
    font-size: 18px;
    color: $blue;

    transition: color .3s;
  }

  &__price {
    font-size: 16px;
    color: #000;

    span {
      font-weight: 600;
    }
  }
}
