.page-header {
  margin-bottom: 50px;

  @include atVertical{
    margin-bottom: 15px;
  };

  &__top {
    padding: 20px 0;

    @include atVertical{
      margin-bottom: 10px;
    };
  }

  &__top-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include atVertical{
      justify-content: flex-start;
    };
  }

  &__info {
    @include atVertical{
      margin-left: auto;
    };
  }

  &__header {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;

    @include atVertical{
      display: none;
    };
  }

  &__phone {
    color: $blue;
    font-size: 18px;
    margin-left: auto;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 10px;
    }

    @include atDesktop{
      &:hover {
        color: $blueDark;
      }
    };

    @include atVertical{
      font-size: 15px;
    };
  }

  &__button {
    width: auto;
    margin-left: 30px;

    @include atMobile{
      display: none;
    };
  }

  &__hamburger {
    display: none;

    @include atMobile{
      display: block;
      width: auto;
      font-size: 16px;
      color: #000;
      transform: translateY(1px);
    };
  }

  &__logo {
    @include atMobile{
      margin-left: 10px;
    };
  }
}
