.page-header {
  margin-bottom: 50px;

  @include atMobile{
    margin-bottom: 15px;
  };

  &__top {
    padding: 20px 0;

    @include atMobile{
      margin-bottom: 10px;
    };
  }

  &__top-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include atMobile{
      justify-content: flex-start;
    };
  }

  &__info {
    @include atMobile{
      margin-left: auto;
    };
  }

  &__header {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;

    @include atMobile{
      display: none;
    };
  }

  &__phone {
    color: $blue;
    font-size: 18px;
  }

  &__button {
    width: 170px;

    @include atMobile{
      display: none;
    };
  }

  &__hamburger {
    display: none;

    @include atMobile{
      display: block;
      width: auto;
      font-size: 20px;
      color: #000;
      transform: translateY(1px);
    };
  }
}
